#fav-list {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.title {
  margin: 0;
  padding: 8px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .main-container {
    align-items: center;
    flex-direction: column;
    justify-content: start;
  }

  .card {
    flex-wrap: wrap;
    width: 70%;
  }
}
