@font-face {
  font-family: "RedHatDisplay";
  src: url("../fonts/RedHatDisplay.woff2") format("woff2"),
    url("../fonts/RedHatDisplay.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
